<section class="p-10">
  <div class="bg-green-300 rounded p-2 max-w-lg mx-auto">
    <p>Entry Point</p>
  </div>
  <div class="flex my-2 space-x-2 max-w-lg mx-auto">
    <button class="bg-blue-200 rounded p-2 flex-1">Add Action</button>
    <button class="bg-blue-200 rounded p-2 flex-1">Finish</button>
  </div>
</section>
